<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add new Comment</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<form id="edit-form" th:action="@{/saveCommentSingle}" th:method="post" action="saveComment.html">
    <h1>New comment:</h1>
    <div class="row">
        <label for="commentText-input">commentText:</label>
        <input id="commentText-input" name="commentText" type="text" th:value="${commentText}"/>
    </div>
    <div class="row">
        <label for="bookId-input">bookId:</label>
        <input id="bookId-input" name="bookId" type="text" th:value="${bookId}"/>
    </div>
    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
