<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add new book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<form id="edit-form" th:action="@{/save}" th:method="post" action="save.html">
    <h1>New book:</h1>
    <div class="row">
        <label for="bookName-input">bookName:</label>
        <input id="bookName-input" name="bookName" type="text" th:value="${bookName}"/>
    </div>
    <div class="row">
        <label for="Author-input">Author:</label>
        <input id="Author-input" name="authorName" type="text" th:value="${authorName}"/>
    </div>
    <div class="row">
        <label for="styleName-input">Style:</label>
        <input id="styleName-input" name="styleName" type="text" th:value="${styleName}"/>
    </div>
    <div class="row">
        <label for="comment-input">Comment:</label>
        <input id="comment-input" name="commentText" type="text" th:value="${commentText}"/>
    </div>
    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
